@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 400;
		src: url("../public/fonts/FiraSans-Regular.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 400;
		font-style: italic;
		src: url("../public/fonts/FiraSans-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 100;
		src: url("../public/fonts/FiraSans-Thin.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 100;
		font-style: italic;
		src: url("../public/fonts/FiraSans-ThinItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 200;
		src: url("../public/fonts/FiraSans-ExtraLight.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 200;
		font-style: italic;
		src: url("../public/fonts/FiraSans-ExtraLightItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 300;
		src: url("../public/fonts/FiraSans-Light.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 300;
		font-style: italic;
		src: url("../public/fonts/FiraSans-LightItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 500;
		src: url("../public/fonts/FiraSans-Medium.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 500;
		font-style: italic;
		src: url("../public/fonts/FiraSans-MediumItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 600;
		src: url("../public/fonts/FiraSans-SemiBold.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 600;
		font-style: italic;
		src: url("../public/fonts/FiraSans-SemiBoldItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 700;
		src: url("../public/fonts/FiraSans-Bold.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 700;
		font-style: italic;
		src: url("../public/fonts/FiraSans-BoldItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 800;
		src: url("../public/fonts/FiraSans-ExtraBold.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 800;
		font-style: italic;
		src: url("../public/fonts/FiraSans-ExtraBoldItalic.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 900;
		src: url("../public/fonts/FiraSans-Black.woff") format("woff");
	}

	@font-face {
		font-family: "Fira Sans";
		font-display: swap;
		font-weight: 900;
		font-style: italic;
		src: url("../public/fonts/FiraSans-BlackItalic.woff") format("woff");
	}
}

body {
	@apply bg-gray-100 dark:bg-gray-800 dark:text-white;
	background-image: radial-gradient(#ddd 1px, transparent 0),
		radial-gradient(#ddd 1px, transparent 0);
	background-position: 0 0, 25px 25px;
	background-size: 50px 50px;
}

.dark body {
	background-image: radial-gradient(#333 1px, transparent 0),
		radial-gradient(#333 1px, transparent 0);
}

.navLink {
	@apply p-2 rounded;
}

.selectedLink {
	@apply bg-gray-200 text-black font-medium;
}
